/*
! Copyright @ Syahri Ramadhan Wiraasmara (ARI), ariwiraasmara.sc37@gmail.com, +628176896353. Year 2025
! All Rights Reserved
*/
body {
    background-color: rgba(200, 200, 255, 0.9);
    font-family: Georgia, Helvetica, sans-serif;
}

.background-header {
    background-image: image-set(
        url('../images/bg22.webp') type('image/webp'),
        url('../images/bg22.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;
}

.background-welcome {
    background-image: image-set(
        url('../images/bg5.webp') type('image/webp'),
        url('../images/bg5.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: right center;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    color: #fff;
}

.background-about {
    background-image: image-set(
        url('../images/bg23.webp') type('image/webp'),
        url('../images/bg23.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: right center;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
}

.bg-aboutus {
    background-image: image-set(
        url('../images/album/Psikotes-Masal-2.webp') type('image/webp'),
        url('../images/album/Psikotes-Masal-2.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
}

.bg-artikel {
    background-image: image-set(
        url('../images/bg9.webp') type('image/webp'),
        url('../images/bg9.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
}

.bg-kontak {
    background-image: image-set(
        url('../images/bg13.webp') type('image/webp'),
        url('../images/bg13.png') type('image/png')
    );
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
}


/* untuk layar desktop */
@media (min-width: 1024px) {

}

/* untuk layar mobile */
@media (max-width: 767px) {

}

.navbar-sticky {
    position: sticky !important;
}

.form-entry {
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(189, 222, 236, 0.8);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.fab {
    position: fixed; /* Fixed position to float over content */
    bottom: 0px; /* Distance from the bottom of the screen */
    right: 20px; /* Distance from the right of the screen */
    color: white; /* White text color */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 50%; /* Circular shape */
    font-size: 24px; /* Font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    z-index: 9;
    cursor: pointer;
}

.paging-area {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.sidebar {
    width: max-content; /* Adjust width based on content */
    height: 100vh; /* Full height */
    border-right: 3px solid #aaa;
}

.sidebar #head {
    background-color: rgba(0, 0, 0, 1);
}

.sidebar #body {
    background-color: rgba(200, 200, 255, 1);
    height: 100vh; /* Full height */
}

.btn-sm {
    width: 50px;
    height: 30px;
    padding: 5px;
}

.btn-md {
    width: 75px;
    height: 55px;
    padding: 5px;
}

.btn-lg {
    width: 100px;
    height: 80px;
    padding: 5px;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: left 3s;
}

.btn:active::after {
    left: 100%;
    transition: left 3s;
}

.radioku {
    font-size: 22px;
}

.radioku input[type="radio"] {
    width: 17px;
    height: 17px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section-line {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

/* Style the radio button when checked */
input[type="radio"]:checked {
    background-color: #007bff; /* Change color when checked */
    border-color: #007bff;
}

/* Optional: Add a hover effect */
input[type="radio"]:hover {
    border-color: #007bff;
}

.list-alpha {
    list-style-type: upper-alpha;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 0.75s linear infinite; /* Safari */
    animation: spin 0.75s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg-lp-white-glasses {
    background-color: rgba(255,255,255, 0.9);
    color: #000;
    border-radius: 10px;

}

.whatsapp {
    background:#25D366;
    color:#fff;
}

.zigzag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}
.zigzag div:nth-child(1) {
    grid-column: 1 / span 3;
}
.zigzag div:nth-child(2) {
    grid-column: 3;
}
.zigzag div:nth-child(3) {
    grid-column: 1 / span 3;
}