/* untuk layar umum */
body {
    background-color: rgba(200, 200, 255, 0.9);
    background-image: url('./bg4.webp');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Georgia, Helvetica, sans-serif;
}

/* untuk layar desktop */
@media (min-width: 1024px) {
    body {
        background-size: cover;
    }
}

/* untuk layar mobile */
@media (max-width: 767px) {
    body {
        background-size: 100% 100%;
    }
}